{% extends "base.html" %}
{% block center %}
<div class="container">
  <h1>Anotação</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="titulo">Título</label>
      {{ form.titulo }}
    </div>
    <div class="form-group">
      <label for="secao">Seção</label>
      {{ form.secao }}
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      {{ form.descricao }}
    </div>
    <div class="form-group">
      <label for="secao">Data de Início</label>
      {{ form.data_inicio }}
    </div>
    <div class="form-group">
      <label for="secao">Data Fim</label>
      {{ form.data_fim }}
    </div>
    <div class="btn-group">
      <button type="submit" class="button primary">Salvar</button>
      <a href="{% url 'list_note' %}" class="button secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}