<h2>Adicionar Nota</h2>
<form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        {{ form.titulo }}
    </div>
    <div class="mb-3">
        <label for="secao" class="form-label">Seção</label>
        {{ form.secao }}
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        {{ form.descricao }}
    </div>
    <div class="mb-3">
        <label for="data_inicio" class="form-label">Data de Início</label>
        {{ form.data_inicio }}
    </div>
    <div class="mb-3">
        <label for="data_fim" class="form-label">Data Fim</label>
        {{ form.data_fim }}
    </div>
    <button type="submit">Enviar</button>
</form>